@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

body {
  overflow: hidden;
}
.glass-morphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
}

